Django>=6.0.2
gunicorn
whitenoise[brotli]
dj-database-url
psycopg2-binary
python-dotenv
playwright
openpyxl
python-docx
reportlab
django-bootstrap5
pypdf2
scikit-learn
numpy
pytest
pytest-django
factory-boy
pytest-cov
faker
pytest-mock
razorpay
