{% extends 'index.html' %}
{% block title %}Bestseller{% endblock %}
{% load static %}
{% block content %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6 wow fadeInUp" data-wow-delay="0.1s">Bestseller Products</h1>
    <ol class="breadcrumb justify-content-center mb-0 wow fadeInUp" data-wow-delay="0.3s">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'shop' %}">Pages</a></li>
        <li class="breadcrumb-item active text-white">Bestseller</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Bestseller Products Start -->
<div class="container-fluid products pt-5">
    <div class="container products-mini py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 700px;">
            <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius wow fadeInUp"
                data-wow-delay="0.1s">Bestseller Products</h4>
            <p class="mb-0 wow fadeInUp" data-wow-delay="0.2s">Our Best Sellers are the products customers love most —
                tried, trusted, and highly rated. From top-quality essentials to trending must-haves, each item here stands out
                for its performance, value, and popularity. Discover what everyone is choosing and find your next favorite today.
            </p>
        </div>
        <div class="row g-4">
            {% for product in products %}
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="products-mini-item border w-100 h-100">
                    <div class="row g-0">
                        <div class="col-5">
                            <div class="products-mini-img border-end h-100">
                                <img src="{{ product.featured_image_url }}" class="img-fluid w-100 h-100" alt="Image">
                                <div class="products-mini-icon rounded-circle bg-primary">
                                    <a href="{% url 'single' product.id %}"><i
                                            class="fa fa-eye fa-1x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="products-mini-content p-3">
                                <a href="{% url 'shop_category' product.category_id.id %}" class="d-block mb-2">{{ product.category_id.name }}</a>
                                <a href="{% url 'single' product.id %}" class="d-block h4">{{ product.full_name }}</a>
                                <span class="text-primary fs-5 price-display" data-base-price="{{ product.min_price }}">₹{{ product.min_price }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="products-mini-add border p-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="rating-readonly d-flex align-items-center ms-2" data-product-id="{{ product.id }}">
                                {% for _ in "12345" %}
                                <span class="star-display">
                                    <i class="{% if forloop.counter <= product.rounded_rating %}fas fa-star
                                        {% elif forloop.counter|add:"-0.5" <= product.rounded_rating %}fas fa-star-half-alt
                                        {% else %}far fa-star
                                        {% endif %}">
                                    </i>
                                </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <h4>No products found.</h4>
            </div>
            {% endfor %}
            
            {% include "pagination.html" with page_obj=products %}
        </div>
    </div>
</div>
<!-- Bestseller Products End -->

<!-- Product List Satrt -->
<div class="container-fluid products productList overflow-hidden">
    <div class="container products-mini py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h4 class="text-primary border-bottom border-primary border-2 d-inline-block p-2 title-border-radius wow fadeInUp"
                data-wow-delay="0.1s">Products</h4>
            <h1 class="mb-0 display-3 wow fadeInUp" data-wow-delay="0.3s">All Product Items</h1>
        </div>
        <div class="productList-carousel owl-carousel pt-4 wow fadeInUp" data-wow-delay="0.3s">
            {% for product in all_products %}
            <div class="productList-item w-100">
                <div class="productImg-item products-mini-item border w-100 h-100">
                    <div class="row g-0">
                        <div class="col-5">
                            <div class="products-mini-img border-end h-100">
                                <img src="{{ product.featured_image_url }}" class="img-fluid w-100 h-100" alt="Image">
                                <div class="products-mini-icon rounded-circle bg-primary">
                                    <a href="{% url 'single' product.id %}"><i
                                            class="fa fa-eye fa-1x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="products-mini-content p-3">
                                <a href="{% url 'shop_category' product.category_id.id %}" class="d-block mb-2">{{ product.category_id.name }}</a>
                                <a href="{% url 'single' product.id %}" class="d-block h4">{{ product.full_name }}</a>
                                <span class="text-primary fs-5 price-display" data-base-price="{{ product.min_price }}">₹{{ product.min_price }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="products-mini-add border p-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="rating-readonly d-flex align-items-center ms-2" data-product-id="{{ product.id }}">
                                {% for _ in "12345" %}
                                <span class="star-display">
                                    <i class="{% if forloop.counter <= product.rounded_rating %}fas fa-star{% elif forloop.counter|add:"-0.5" <= product.rounded_rating %}fas fa-star-half-alt{% else %}far fa-star{% endif %}"></i>
                                </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <h4>No products found.</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Product List End -->

{% endblock %}