.accordion-button:not(.collapsed) {
  background-color: #f8f9fa;
  color: var(--bs-primary);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-button:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.accordion-item {
  border-radius: 10px !important;
  overflow: hidden;
  margin-bottom: 15px;
  border: 1px solid #dee2e6;
}
.accordion-header {
  margin-bottom: 0;
}
