.help-list .list-group-item {
  padding: 12px 0;
  transition: 0.3s;
}
.help-list .list-group-item:hover {
  color: var(--bs-primary);
  padding-left: 10px;
}
section h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid #f0f0f0;
}
